<div>
  <strong>Title:</strong>
  <%= @article.title %>
</div>

<div>
  <strong>Text:</strong>
  <%= @article.text %>
</div>

<h2>Add a comment</h2>

<%= render 'comments/form' %>

<h2>Comments</h2>

<%= render @article.comments %>

<hr>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>